#root{
  width: 100%;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
 
label{
  width: 100px;
  margin-right: 10px;
}

.btn{
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.formulario{
  display: flex;
  flex-direction: column;
  width: min-content;
  row-gap: 6px;
  padding: 12px;
  border-radius: 10px;
  background-color: #384B70;
}

.title{
  border-radius: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.content{
  color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A594F9;
}

