#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
 
label{
  width: 100px;
  margin-right: 10px;
}
.formulario{
  max-width: 100px;
  
}

